---
# disable container based infrastructure - image build and run are in before install and script steps (in vm)
sudo: required

env:
  global:
    image_tag: ansible-bootstrap
    env_args: "ANSIBLE_VERSION=1.9.4"
  matrix:
    - distro: centos
      vers: 6
    - distro: ubuntu
      vers: 14.04


services:
  - docker

before_install:
  - sudo docker build --rm=true --file=tests/Dockerfile.${distro}-${vers} --tag=${distro}-${vers}:${image_tag} tests

script:
  - container_id=$(sudo docker run --detach --volume="${PWD}":/run ${distro}-${vers}:${image_tag})
  - sudo docker exec --tty ${container_id} env ${env_args} /run/ansible-bootstrap.sh
  - sudo docker exec --tty ${container_id} ansible-playbook --version
  - sudo docker exec --tty ${container_id} /run/ansible-bootstrap.sh uninstall
  - sudo docker stop ${container_id}

